@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

Header{
    padding:20px;
    margin-top: -20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.192);
}
div.titulos{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

h1{
    cursor:pointer;
}

.active{
    display: inline-block;

}

div.imagens{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

div.videos{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 30px;
}

.desactive{
    display: none;
    cursor:pointer;
}

div.imagem{
    min-width: 30vw;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin: 3%;
}

.container-sala{
    display: flex;
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vw;
    z-index: 2000;
    justify-content: center;
}

.modal-sala{
    min-width: 65vw;
    max-width: 75vw;
    max-height: 85vh;
    min-height: 80vh;
    position: relative;
    text-align: center;
    background-color: white;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 7vh;
    border: 10px solid rgb(3, 102, 11);
}

.overlay{
    display: none;
    justify-content: center;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.189);
    width: 100vw;
    backdrop-filter: blur(8px);
    height: 100vh;
    z-index: 2000;
    justify-content: center;
}

.modal-sala-feedback{
    display: none;
    width: fit-content;
    position: fixed;
    top: 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.696);
    text-align: center;
    background-color: white;
    padding: 5PX;
    margin-top: 50px;
    border: 1px solid rgba(61, 113, 255, 0.399);
}


.elementos{
    margin: 10px;
}

.elementos>input{
    margin: 5px;
}

.btn.btn-danger-modal{
    position: absolute;
    top: -30px;
    color: white;
    right: -30px;
    border: 0px;
    font-family:sans-serif;
    font-weight: bolder;
    background-color: rgb(3, 102, 11);
    border-radius: 50%;
}

.btn.btn-sucess-reduzir{
    position: absolute;
    font-size: 40px;
    line-height: 2px;
    padding: 0px;
    width: 40px;
    height: 40px;
    bottom: 100px;
    color: white !important;
    background-color: green !important;
    right: -60px;
    border: 0px;
    font-family:sans-serif;
    font-weight: bolder;
    border-radius: 3%;
}

.btn.btn-sucess-aumentar{
    position: absolute;
    font-size: 40px;
    line-height: 9px;
    padding: 0px;
    width: 40px;
    height: 40px;
    bottom: 150px;
    color: white;
    background-color: green !important;
    right: -60px;
    border: 0px;
    font-family:sans-serif;
    font-weight: bolder;
    border-radius: 3%;
}

.btn.btn-sucess-reduzir:hover{
    background-color: green !important;
}

.btn.btn-danger-modal:hover{
    background-color: white !important;
}

.video{
    display: inline-block;
    width: 100%;
    margin: auto;
    text-align: center;
}

.divAuto{
    width: 60%;
    margin: auto;
    text-align: center;
}

.btn-dark{
    margin: 5px;
    border-radius: 1px;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-top: 50px ;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.527);
}

.redeSocial{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.redeSocial:hover{
    opacity: 40%;
}

.Redes{
    display: flex;
    width: 33vw;
}

.Autor{
    text-align: center;
    width: 33vw;
}

.Direitos{
    text-align: center;
    height: 20px;
    width: 33vw;
    text-align: right;
}

::-webkit-scrollbar{
    width: 0px;
}